html, body {
  height: 50%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

.react-calendar__navigation__label {
  font-size: 10px;
  font-weight: bold;
  color: white;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  padding: 5px;
  box-sizing: border-box;
}

h2 {
  font-size: 15px;
  margin-top: 0; /* Removed gap between the top and the title */
  margin-bottom: 10px; /* Space between the title and the calendar */
  color: white;
}

.calendar-box-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 30px; /* Decreased width for the container */ /* Space between the calendar and overdue info */
}

.calendar-box {
  width: 50%; /* Decreased width */
  background-color: white;
  padding: 20px; /* Increased padding for better spacing */
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.react-calendar {
  max-width:100%;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
}

.react-calendar__tile {
  border: 1px solid #ddd;
  border-radius: 2px;
  font-size: 10px;
  padding: 5px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 40px;
  color: black;
}

.react-calendar__tile--now {
  background-color: #f0f8ff;
}

.react-calendar__tile--active {
  background-color: #00bfff;
  color: white;
}

.react-calendar__tile:hover {
  background-color: #f0f0f0;
  border-color: #007bff;
}

.react-calendar__month-view__weekdays {
  display: flex;
  justify-content: space-between;
}

.react-calendar__month-view__weekdays__weekday {
  flex: 1;
  text-align: center;
  font-size: 10px;
  color: black;
  font-weight: bold;
}

.react-calendar__month-view__days__day {
  display: inline-block;
  width: 30px;
  text-align: center;
  padding: 10px;
  font-size: 10px;
  color: black;
}

.react-calendar__month-view__days__day--weekend {
  color: #ff4747;
}

.highlighted {
  background-color: #ff6347;
  color: white;
}

.status-overdue {
  color: red;
}

.status-due-today {
  color: orange;
}

.overdue-info {
  flex: 1; /* Allow it to take available space */
  background-color: #222;
  color: white;
  padding:9px;
  border-radius: 10px;
  max-width: 250px; /* Decreased width for the overdue info */
}

.overdue-info h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.overdue-info ul {
  list-style-type: none;
  padding: 0;
}

.overdue-info li {
  font-size: 12px;
  margin-bottom: 5px;
}

.overdue-info p {
  font-size: 12px;
}
