/* General Styles */
body {
  margin: 0; 
  padding: 0;
  background-color: black; 
  overflow: hidden;  /* Ensure scaling starts from the top-left corner */

  
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%); 
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0); 
    opacity: 1; 
  }
}

/* Logo Styles */
.logo {
  position: absolute; 
  top: 200px; 
  right: 10px; 
  width: 350px; 
  height: 350px; 
  border-radius: 50%; 
  object-fit: cover;
  overflow: hidden; 
  animation: slideInFromRight 1.5s ease-out forwards; 
}

/* Typewriter Styles */
.typewriter-container {
  position: absolute;
  top: 250px;
  left: 50px;
  font-size: 30px; 
  font-weight: bold; 
  color: white; 
  font-family: 'Courier New', Courier, monospace; 
  font-size: 45px;
}

/* Information Container */
.info-container {
  position: absolute;
  top: 300px; /* Adjust this value to control vertical spacing below the typewriter text */
  left: 50px; /* Align it with the typewriter text */
  color: #ccc; /* Softer color for readability */
  font-size: 20px; /* Appropriate font size for the information */
  font-family: 'Arial', sans-serif; /* Clean, readable font */
  max-width: 650px;
}
