/* General Styles */
body {
  margin: 0; 
  padding: 0;
  background-color: black; 
  overflow: hidden; 
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%); 
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0); 
    opacity: 1; 
  }
}

/* Logo Styles */
.logo {
  position: absolute; 
  top: 500px; 
  right: 40px; 
  width: 1700px; 
  height: 1700px; 
  border-radius: 50%; 
  object-fit: cover;
  overflow: hidden; 
  animation: slideInFromRight 1.5s ease-out forwards; 
}

/* Typewriter Styles */
.typewriter-container {
  position: absolute;
  top: 1000px;
  left: 100px;
  font-size: 50px; 
  font-weight: bold; 
  color: white; 
  font-family: 'Courier New', Courier, monospace; 
  font-size: 200px;
}

/* Information Container */
.info-container {
  position: absolute;
  top: 1200px; /* Adjust this value to control vertical spacing below the typewriter text */
  left: 100px; /* Align it with the typewriter text */
  color: #ccc; /* Softer color for readability */
  font-size: 60px; /* Appropriate font size for the information */
  font-family: 'Arial', sans-serif; /* Clean, readable font */
  max-width: 2500px; /* Limit width for better layout */
   /* Add spacing between lines for readability */
}
