/* Navbar.css */

.navbar {
    padding-right: 90px;
    display: flex; /* Added flex display for navbar */
    justify-content: flex-end; /* Aligns the navbar content to the right */
}
.navbar-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-left:auto;
}

.navbar-item {
    margin: 0 150px; /* Adjusted the margin between items */
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 80px;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    justify-content: center;
    display: flex;
}

.navbar-link:hover {
    background-color: #555;
    border-radius: 5px;
}
  .logo-container {
    margin-right: auto;
    position: relative;
    align-items: center;
    display: flex; /* Allows manual positioning */
    top: 70px;
    left:70px; /* Moves the logo upwards */
  }
  
  .logo1 {
    width: 200px;
    height: auto;
    display: block;
    border-radius: 30%;
  }
  .logo-text {
    color: white; /* Match text color with navbar theme */
    font-size: 60px; /* Adjust font size */
    font-weight: bold; /* Make the text bold */
    margin-left: 10px; /* Add space between logo and text */
  }
  
/* Logo container */



